<!DOCTYPE HTML>
<html>
    <!-- Header -->
    <head>
        <title>ServerTag</title>

        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/ui-lightness/jquery-ui-1.8.18.custom.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/servertag.css" />

        <script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-ui-1.8.18.custom.min.js"></script>
        <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
    </head>
