<%= erb "header.html".to_sym %>

<% host_tags = locals[:host_tags] %>
    <body>
        <h1><%= locals[:hostname] %></h1>

<%
if host_tags.empty?
%>
        <div>No tags.</div>
<%
else
    tags = host_tags.map {|ht|; ht.tag}
    tags.sort.each do |tag|
%>
        <div><%= tag %></div><br />
<%
    end
end
%>
    </body>

<%= erb "footer.html".to_sym %>
