<%= erb "header.html".to_sym %>

<body>
<div class="offset2">
    <br />
    <h1>ServerTag</h1>

    <br />
    <p class="offset0">Hello I am some text.</p>
</div>
</body>

<%= erb "footer.html".to_sym %>
