<!-- navbar ==================================== -->
<%
active_page = locals[:active_page]
nb = Navbar.new(active_page)
%>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">ServerTag</a>
            <ul class="nav nav-pills">
<%
nb.links.each do |link| %>
                <li<%= link.active? ? ' class="active"' : '' %>>
                    <a href="<%= link.path %>"><%= link.title %></a>
                </li>
<%
end
%>
            </ul>
        </div>
    </div>
</div>
