<% host_tags = locals[:host_tags] %>
<h1><%= locals[:tagname] %></h1>

<%
if host_tags.empty?
%>
    <div>No hosts have this tag.</div>
<%
else
    hosts = host_tags.map {|ht|; ht.host}
    hosts.sort.each do |host|
%>
    <div><%= host %></div><br />
<%
    end
end
%>
